@page "/file-uploding"

@inject HttpClient Http
@inject IConfiguration Configuration

@using System.IO;
@using BlazorWASMFileUploading.Shared.Models

<h3>Blazor WebAssembly File Uploading</h3>

<form @onsubmit ="OnUploadFiles">
    <div class="form-group row">
        <label for="file-upload">Select File: </label>
        <InputFile id="file-upload" OnChange="@OnInputFileChange" multiple/>
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-outline-primary">Upload File(s)</button>
    </div>
</form>
<br />
<hr />
<div class="form-group row">
    <h3>@message</h3>
</div>

@code {
    private string message = "No file(s) selected";
    IReadOnlyList<IBrowserFile> selectedFiles;

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        message = $"{selectedFiles.Count} file(s) selected";
        this.StateHasChanged();
    }

    private async void OnUploadFiles()
    {
        foreach (var file in selectedFiles)
        {
            using (var ms = new MemoryStream())
            {
                await file.OpenReadStream().CopyToAsync(ms);

                var uploadedFile = new UploadedFile();
                uploadedFile.FileName = file.Name;
                uploadedFile.FileContent = ms.ToArray();

                await Http.PostAsJsonAsync<UploadedFile>(Configuration["ApiBaseUrl"] + 
                    "FileUpload/PostFile", uploadedFile);
            }
        }
        message = $"{selectedFiles.Count} file(s) uploaded on server";
        this.StateHasChanged();
    }
}
